<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'loboCozinha/css/base.css' %}">
</head>
<body>
    {% include 'ui/header/index.html' %}
    <div>
        <img 
            style="width: 100%;"
            src="{% static 'loboCozinha/imgs/image 1.png' %}" 
            alt="Logo" 
        />
    </div>
    <main>
        
    </main>
    <footer>
        <p>&copy; 2023 - Todos os direitos reservados</p>
    </footer>
</body>
</html>
