

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 88px;
    backdrop-filter: blur(15px) saturate(180%);
    top: 0;
    z-index: 1000;
    padding: 20px 5%;
    background-color: #3f2305bb;
    transition: all 0.6s ease;

    @media (max-width: 900px) {
        padding: 20px 2%;
    }
}

header img {
    width: 150px;
    height: auto;
    transition: all 0.6s ease;

    @media (max-width: 900px) {
        width: 120px;    
    }
}

header nav ul {
    list-style: none;
    display: flex;
    font-weight: 700;
    font-size: larger;
    gap: 38px;
    text-decoration: none;
    transition: all 0.6s ease;

    @media (max-width: 900px) {
        font-size: medium;    
    }
}

header a {
    text-decoration: none;
    color: white;
}

header button {
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    background-color: white;
    font-weight: 700;
    font-size: x-large;
    cursor: pointer;
    transition: all 0.6s ease;

    @media (max-width: 900px) {
        font-size: large;    
    }
}